### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven ###
target/

### IntelliJ module/user files ###
*.iml
*.iws
*.ipr

### Logs ###
logs/
*.log

### H2 file databases (if datasource is switched from mem: to file:) ###
*.mv.db
*.trace.db

### Local environment / secrets ###
.env
.env.*
application-local.yaml
application-local.yml

### IntelliJ project settings ###
.idea/
